.timer {
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .timer {
    font-size: 7em;
  }
}

@media (max-width: 600px) and (min-width: 414px) {
  .timer {
    font-size: 5.5em;
  }
}

@media (max-width: 414px) {
  .timer {
    font-size: 4.5em;
  }
}
