.app-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.title-container,
.btn-container,
.circle-container {
  display: flex;
  justify-content: center;
}

.circle-container {
  align-items: center;
  align-items: center;
  border: double 5px transparent;
  border-radius: 50%;
  background-image: linear-gradient(black, black),
    linear-gradient(#ffffff, #7a7a7a);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

@media (min-width: 600px) {
  .title {
    font-size: 4.5em;
  }

  // .mat-icon {
  //   font-size: 45px;
  //   text-align: center;
  //   height: 45px;
  //   width: 45px;
  //   margin-left: 10px;
  // }

  #titleStart {
    margin-right: 10px;
  }

  .title-container {
    margin-bottom: 30px;
  }

  #pauseBtn {
    margin-left: 20px;
    margin-right: 20px;
  }

  .time {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .circle-container {
    height: 500px;
    width: 500px;
  }

  .timer-container {
    margin-top: 40px;
  }
}

@media (max-width: 600px) and (min-width: 414px) {
  .title {
    font-size: 3em;
  }

  // .mat-icon {
  //   font-size: 40px;
  //   text-align: center;
  //   height: 40px;
  //   width: 40px;
  //   margin-left: 2px;
  //   margin-right: 2px;
  // }

  #pauseBtn {
    margin-left: 15px;
    margin-right: 15px;
  }

  .time {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .circle-container {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 414px) and (min-width: 320px) {
  .title {
    font-size: 2.25em;
  }

  // .mat-icon {
  //   font-size: 30px;
  //   text-align: center;
  //   height: 30px;
  //   width: 30px;
  //   margin-left: 2px;
  //   margin-right: 2px;
  // }

  #pauseBtn {
    margin-left: 15px;
    margin-right: 15px;
  }

  .time {
    margin-top: 25px;
    margin-bottom: 35px;
  }

  .circle-container {
    height: 300px;
    width: 300px;
  }
}
