<div class="app-container">
    <div class="circle-container">
        <div class="timer-container">
            <div class="title-container">
                <h1 class="title" id="titleStart">{{ title_start }}</h1>
                <h1 class="title"> {{ title_end }}</h1>
            </div>
            <div class="time">
                <app-timer></app-timer>
            </div>
            <div class="btn-container">
                <app-button (click)="start()" icon_type="play_circle_outline"></app-button>
                <app-button (click)="pause()" icon_type="pause_circle_outline" id="pauseBtn"></app-button>
                <app-button (click)="reset()" icon_type="replay"></app-button>
            </div>
        </div>
    </div>
</div>