.app-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.title-container,
.btn-container,
.circle-container {
  display: flex;
  justify-content: center;
}

.circle-container {
  align-items: center;
  border: double 5px transparent;
  border-radius: 50%;
  background-image: linear-gradient(black, black),
    linear-gradient(#ffffff, #5c5a5a);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

@media (min-width: 600px) {
  .title {
    font-size: 4.5em;
  }

  #titleStart {
    margin-right: 10px;
  }

  .title-container {
    margin-bottom: 30px;
  }

  #pauseBtn {
    margin-left: 20px;
    margin-right: 20px;
  }

  .time {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .circle-container {
    height: 500px;
    width: 500px;
  }

  .timer-container {
    margin-top: 40px;
  }
}

@media (max-width: 600px) and (min-width: 414px) {
  .title {
    font-size: 3em;
  }

  #pauseBtn {
    margin-left: 15px;
    margin-right: 15px;
  }

  .time {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .circle-container {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 414px) and (min-width: 320px) {
  .title {
    font-size: 2.25em;
  }

  #pauseBtn {
    margin-left: 15px;
    margin-right: 15px;
  }

  .time {
    margin-top: 25px;
    margin-bottom: 35px;
  }

  .circle-container {
    height: 300px;
    width: 300px;
  }

  ::ng-deep {
    .mat-button-wrapper {
      padding-top: 14px !important;
    }
  }
}
