.btn {
  background-color: white;
  width: 55pt;
  height: 55pt;
}

.mat-icon {
  width: 25pt;
  height: 25pt;
  font-size: 25pt;
}

@media (max-width: 414px) {
  .btn {
    width: 40pt;
    height: 40pt;
  }

  .mat-icon {
    width: 20pt;
    height: 20pt;
    font-size: 20pt;
  }
}

@media (max-width: 414px) and (min-width: 320px) {
  .btn {
    .mat-button-wrapper {
      padding-top: 14px !important;
    }
  }
}
